.detail-block {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  line-height: 1.3;
  display: flex;
}

.detail-label {
  margin-right: 10px;
  font-weight: 600;
  color: var(--color-dark-red);
}

.page-header {
  display: flex;
}
