.header {
  padding: 10px 15px;
  color: var(--color-dark-red);
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h1 span {
  display: block;
}

.logo {
  width: 65px;
  height: auto;
  margin-right: 15px;
}


/* Media queries */

@media (min-width: 530px) {
  .header {
    font-size: var(--font-size-big);
  }
  .logo {
    margin-right: 25px;
    width: 100px;
  }
  .header h1 span {
    display: inline-block;
  }
}
