* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: Quicksand, sans-serif;
  font-weight: normal;
  font-size: var(--font-size-medium);
  line-height: 1.2;
  color: var(--color-dark-grey);
  background-color: var(--color-white);
  display: grid;
  grid-template-rows:
    auto
    1fr
    30px;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
