:root {
  /* Colors */
--color-dark-grey: #333333;
--color-dark-red: #e2231a;
--color-grey: #656d78;
--color-white: #ffffff;


 /* Space */
 --space-small: 8px;
 --space-medium: 16px;
 --space-big: 24px;

 /* Dimensions */
 --max-width: 900px;

 /* Font sizes */
 --font-size-small: 12px;
 --font-size-medium: 16px;
 --font-size-big: 24px;
 --font-size-ultra: 36px;
}